.App {
}

.app-container {
  padding: 6rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.loading {
  align-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
}
